@using Sloth.Core.Resources
@model IEnumerable<Sloth.Core.Models.Team>

@{
    ViewBag.Title = "Teams";
}

<div class="container">
    <div class="row mb-1">
        <div class="col">
            <h2>Your Teams</h2>
        </div>
    </div>

    @ViewBag.Roles

    <ul>
        @foreach (var team in Model)
        {
            <li>
                <td><a href="@Url.Action("Index", "Transactions", new { team = team.Slug })">@team.Name</a></td>
            </li>
        }
    </ul>
</div>

@section AdditionalScripts
{
<script>
    $('#teamsTable').DataTable({
        columnDefs: [
            {
                targets: -1,
                orderable: false,
            }]
    });
</script>
}
