@model IEnumerable<Sloth.Core.Models.Team>

@{
    ViewBag.Title = "Teams";
}

<div class="container">
    <div class="row mb-1">
        <div class="col">
            <h2>Teams</h2>
        </div>
        <div class="col d-flex justify-content-end align-items-end">
            <a class="btn btn-primary" asp-action="Create">Create New Team</a>
        </div>
    </div>

    <table id="teamsTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td><a href="@Url.Action("Details", new { id = team.Id })" class="btn btn-primary">Manage</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section AdditionalScripts
{
    <script>
        $('#teamsTable').DataTable({
            columnDefs: [
                {
                    targets: -1,
                    orderable: false,
                }]
        });
    </script>
}
