@model Sloth.Web.Models.TransactionViewModels.TransactionsFilterViewModel

@{
    var statusCodes = ViewBag.Statuses as IEnumerable<SelectListItem>;
}

<form class="row" id="invoiceFilterForm" asp-controller="Transactions" asp-action="SetFilter" method="post">
    <div class="col-lg-9">
        <div class="row">
            <div class="input-group-sm form-group col-lg-6">
                <label for="filter_merchant_id">Merchant Id</label>
                <select id="filter_merchant_id" name="selectedMerchantId" class="form-control" asp-for="Filter.SelectedMerchantId" asp-items="Model.TeamMerchantIds" data-style="btn-primary"></select>
            </div>

            <div class="input-group-sm form-group col-12">
                <label for="filter-date-range">Transaction Date</label>
                <div id="filter-date-range" class="input-group input-daterange">
                    <input name="from" class="form-control" type="text" placeholder="MM/DD/YYYY" asp-for="Filter.From" asp-format="{0:MM/dd/yyyy}" />
                    <div class="input-group-addon add-on px-2" style="height: auto">to</div>
                    <input name="to" class="form-control" type="text" placeholder="MM/DD/YYYY" asp-for="Filter.To" asp-format="{0:MM/dd/yyyy}" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-end align-items-end">
        <div class="d-flex justify-content-end align-items-center form-group">
            <button class="btn" type="reset">Clear Filter</button>
            <button class="btn btn-outline-secondary ml-2" type="submit">Apply Filter <i class="fas fa-filter"></i></button>
        </div>
    </div>
</form>

<script type="text/javascript" asp-add-nonce="true">
    window.addEventListener('load', function () {
        // setup multipick


        // setup datepickers
        $('#filter-date-range').datepicker({
            inputs: $('#filter-date-range input'),
            keepEmptyValues: true,
        });
    });
</script>
