@using Sloth.Core.Extensions
@using Sloth.Core.Models
@using Sloth.Core.Resources
@model Transaction

@{
    ViewBag.Title = "Transaction Details";

    Uri merchantUrl;
    var isUrlValid = Uri.TryCreate(Model.MerchantTrackingUrl, UriKind.Absolute, out merchantUrl);
}

@section AdditionalStyles {
    <link href="~/css/prism.css" rel="stylesheet" />

    <style>
        pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
            color: black;
            font-size: 16px;
            background-color: white;
        }
    </style>
}

<h2>@ViewBag.Title</h2>
@if(String.IsNullOrWhiteSpace(Model.Transfers[0].FinancialSegmentString))
{
    <partial name="_KfsDetails" model="Model" />
}
else
{
    <partial name="_AeDetails" model="Model" />
}


 @section AdditionalScripts {
    <script src="~/js/prism.js"></script>
    <script>
        $('#transfers').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false }
            ],
            "paging": false,
            "info": false,
            //"searching": false,
            "order": [[1, 'desc'],[2, 'desc']]
        });
    </script>
}
