@using Sloth.Core.Extensions
@using Sloth.Core.Models
@using Sloth.Core.Resources
@using Sloth.Web.Models.TransactionViewModels
@model TransactionDetailsViewModel

@{
    ViewBag.Title = "Transaction Details";

    Uri merchantUrl;
    var isUrlValid = Uri.TryCreate(Model.Transaction.MerchantTrackingUrl, UriKind.Absolute, out merchantUrl);
}

@* @section AdditionalStyles {
    <link href="~/css/prism.css" rel="stylesheet" />

    <style>
        pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
            color: black;
            font-size: 16px;
            background-color: white;
        }
    </style>
} *@
<div class="container">
    
        <h2>@ViewBag.Title</h2>
    

@if(String.IsNullOrWhiteSpace(Model.Transaction.Transfers[0].FinancialSegmentString))
{
    <partial name="_KfsDetails" model="Model.Transaction" />
}
else
{
    <partial name="_AeDetails" model="Model.Transaction" />
}
<div class="row mt-5">
    <h2>Activity Timeline</h2>
    <div class="txn-timeline-row">
        <div class="txn-timeline-date">
            <span>01/08/2023 16:14:00</span>
        </div>
        <div class="txn-timeline-result">
            <span>Brian McEligot changed status to</span> <span class="badge badge-processing">Processing</span>
        </div>
    </div>
    <div class="txn-timeline-row">
        <div class="txn-timeline-date">
            <span>01/08/2023 16:14:00</span>
        </div>
        <div class="txn-timeline-result">
            <span>Brian McEligot changed status to</span> <span class="badge badge-processing">Processing</span>
        </div>
    </div>
    
    
</div>

@if (Model.RelatedTransactions.Transactions.Any())
{
    <div class="row mt-5">
    <h2>Related Transactions</h2>
    <partial name="_TransactionsTable" model="Model.RelatedTransactions" />
    </div>
    
}

</div>


 @section AdditionalScripts {
    <script src="~/js/prism.js"></script>
    <script>
        $('#transfers').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false }
            ],
            "paging": false,
            "info": false,
            //"searching": false,
            "order": [[1, 'desc'],[2, 'desc']],
            language: {
                searchPlaceholder: "Search Table",
                search: "",
            },
        });
        const table = $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false },
                { "targets": [-1], "orderable": false },
            ],
            order: [[1, 'desc']],
            language: {
                searchPlaceholder: "Search Table",
                search: "",
            },
        });
    </script>
}
