@model IEnumerable<Sloth.Core.Models.Transaction>

@{
    ViewBag.Title = "Transactions";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <partial name="_TransactionsTable" model="Model" />
</div>


@section AdditionalScripts {
    <script>
        $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false },
                { "targets": [-1], "orderable": false },
            ]
        });
    </script>
}
