@model Sloth.Web.Models.TransactionViewModels.TransactionsViewModel

@{
    ViewBag.Title = "Transactions";
}

    <div class="container">
        <h2>@ViewBag.Title</h2>

        <div class="row justify-content-between">
            <div class="col-12"><hr /></div>
            <div class="col-6">
                <h3>Filters</h3>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-end">
                <button class="btn align-self-end" type="button" data-toggle="collapse" data-target="#transactions-filter"><i class="fas fa-filter"></i></button>
            </div>

            <div id="transactions-filter" class="col-12 collapse">
                <partial name="_Filter" model="@Model.TransactionsFilter" />
            </div>
            <div class="col-12"><hr /></div>
        </div>

        <partial name="_TransactionsTable" model="Model.Transactions" />
    </div>


@section AdditionalScripts {
    <script>
        $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false },
                { "targets": [-1], "orderable": false },
            ]
        });
    </script>
}
