@model IEnumerable<Sloth.Core.Models.Transaction>

@{
    ViewBag.Title = "Transactions";
}

@section AdditionalStyles {
    <link rel="stylesheet" href="~/lib/datatables.bootstrap4.css" />
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_TransactionsTable", Model)


@section AdditionalScripts {
    <script src="~/lib/jquery.datatables.js"></script>
    <script src="~/lib/datatables.bootstrap4.js"></script>
    <script>
        $('#transactions').dataTable();
    </script>
}
