@using Sloth.Core.Models
@model Sloth.Web.Models.TransactionViewModels.TransactionsTableViewModel

@{
    ViewBag.Title = "Transactions Needing Approval";

    var approvalCount = Model.Transactions.Count;
    var approvalAmount = Model.Transactions
        .SelectMany(t => t.Transfers)
        .Where(x => x.Direction == Transfer.CreditDebit.Credit)
        .Sum(x => x.Amount);
}
<div class="container">
<div class="row">
    <div class="col">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col d-flex justify-content-end align-items-end">
        <button id="approvalAll" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approvalAllModal">Approval All <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </button>
    </div>
</div>

<partial name="_TransactionsTable" model="Model" />

<div id="approvalAllModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approval All Pending Transactions?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You are about to approve:</p>
                <dl class="row">
                    <dt class="col-6">Count</dt>
                    <dd class="col-6">@approvalCount</dd>
                    <dt class="col-6">Amount</dt>
                    <dd class="col-6">$@approvalAmount.ToString("F2")</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form id="approvalAllForm" asp-action="ApprovalAll">
                    @Html.AntiForgeryToken()
                    <button type="button" id="approvalAllSubmit" class="btn mb-2 btn-primary">Approval All <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

@section AdditionalStyles{
    <style>

        #transactionsTable tbody tr {
            cursor: pointer;
        }
    </style>
}

@section AdditionalScripts {
    <script>
        $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": [0, 3, 4, 5, 6], "visible": false },
                { "targets": [-1], "orderable": false },
            ],
            order: [[2, 'desc']],
            language: {
                searchPlaceholder: "Search Table",
                search: "",
            },
        });

        $('#approvalAllSubmit').click(function() {
            $('#approvalAllForm').submit();
        });


        $("#transactionsTable tbody").on("click", "tr", function () {
            window.location = $(this).data("href");
        });
    </script>
}
