.text-right {
  text-align: right;
}
.form-control:focus,
.form-select:focus {
  border-color: $primary-color;
  box-shadow: 0 0 0 0.25rem rgb(0 84 76 / 25%);
}
.alert {
  color: $primary-color;
  font-family: $sans-bold;
  a {
    text-decoration: underline;
  }
  border-radius: 4px;
  padding: 8px 16px;
}
.alert-warning {
  background-color: transparentize($secondary-color, 0.85);
  color: $secondary-color;
  border-color: $secondary-color;
  a {
    color: $secondary-color;
    &:hover {
      color: lighten($secondary-color, 5);
    }
  }
  i {
    color: $primary-color;
  }
}
