@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "@ucdavis/gunrockin/sass/gunrockin.scss";
$primary-color: $delta;
$secondary-color: #dbab0c;
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
);
@import "bootstrap/scss/bootstrap";
@import "@ucdavis/gunrockin/sass/_typography.scss";

$bg-primary: transparentize($primary-color, 0.96);
$danger: $merlot;
$error-color: $danger;

$borders-sloth: #e6e7e9;
:root {
  --bs-btn-hover-border-color: #e6e7e9;
  --bs-btn-active-border-color: #e6e7e9;
}
