@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "@ucdavis/gunrockin/sass/gunrockin.scss";
$primary-color: $delta;
$secondary-color: #dbab0c;
$bg-primary: transparentize($primary-color, 0.96);
$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  danger: $merlot,
  success: $primary-color,
  info: $putahcreek,
  warning: $secondary-color,
  dark: #363636,
  light: #e6e7e9,
);
@import "~bootstrap/scss/bootstrap";
@import "@ucdavis/gunrockin/sass/_typography.scss";

$borders-sloth: #e6e7e9;
:root {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #00544c;
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee2e6;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: #00544c;
  --bs-pagination-hover-bg: #e9ecef;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-color: #00544c;
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(0, 84, 76, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #00544c;
  --bs-pagination-active-border-color: #00544c;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #dee2e6;
}
