@import "custom";
@import "~bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 1rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
}

.nav-login {
    position: relative;
}

.profile-pic {
    padding-right: 1rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    flex-grow: 1;
    padding: 1rem;
}

footer {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0;
}
