h1,
h2,
h3,
h4 {
  color: $primary-color;
}
h1 {
  font-size: 1.8rem;
  font-family: $sans-bold;
  header & {
    color: #fff;
  }
  a {
    text-decoration: underline;
  }
}
a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: lighten($primary-color, 7);
  }
}
.card {
  a {
    p {
      color: $primary-font;
    }
  }
}
h2 {
  font-size: 1.6rem;
  color: $primary-color;
  font-family: $sans-bold;
}
h3 {
  font-size: 1rem;
  color: $secondary-font;
  text-transform: uppercase;
}
