h1,
h2,
h3,
h4 {
  color: $primary-color;
}
h1 {
  font-weight: 600;
  font-size: 1.8rem;
  header & {
    color: #fff;
  }
  a {
    text-decoration: underline;
  }
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
  color: $secondary-font;
}
