@using Sloth.Core.Views.Shared
@model Sloth.Core.Models.Emails.DefaultNotificationModel

@{
  Layout = "_EmailLayout";
}

    <mj-section border-top="4px solid #00423d" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="28px" color="#1F1F1F">
          <p>@Model.Subject</p>
        </mj-text>
        <mj-text padding-top="0px" padding-bottom="0px" font-size="24px" color="rgba(31,31,31,0.8)">
          @Model.MessageText
        </mj-text>
      </mj-column>
    </mj-section>

