@model Sloth.Web.Models.SystemViewModels.SystemViewModel

@{
    ViewBag.Title = "StyleGuide";
}

<div class="container ">
    
         <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary disabled">Disabled</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
        </div>
        <div class="input-group date" data-provide="datepicker" data-date-container="body">
                            <input name="date" type="text" class="form-control" placeholder="MM/DD/YYYY" />
                            
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fa fa-fw fa-calendar"></i>
                            </div>
                        </div>
</div>



