<?xml version="1.0" encoding="UTF-8" ?>
<svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>helpsvg</title>
    <g id="Main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="sloth/transaction-detail" transform="translate(-670, -124)">
            <g id="nav" transform="translate(0, 109)">
                <g id="nav-item" transform="translate(585, 15)">
                    <g id="helpsvg" transform="translate(85, -0.0005)">
                        <path d="M15,14.0005 C14.848,14.0005 14.694,13.9655 14.553,13.8955 C14.214,13.7265 14,13.3795 14,13.0005 L14,11.0005 L13,11.0005 L13,9.0005 L15,9.0005 C15.552,9.0005 16,9.4485 16,10.0005 L16,11.0005 L18.4,9.2005 C18.573,9.0705 18.784,9.0005 19,9.0005 L22,9.0005 L22,2.0005 L12,2.0005 L12,5.0005 L10,5.0005 L10,2.0005 C10,0.8965 10.897,0.0005 12,0.0005 L22,0.0005 C23.103,0.0005 24,0.8965 24,2.0005 L24,9.0005 C24,10.1035 23.103,11.0005 22,11.0005 L19.333,11.0005 L15.6,13.8005 C15.423,13.9325 15.212,14.0005 15,14.0005" id="primary-color" fill="#757575"></path>
                        <path d="M8,14.0005 C10.206,14.0005 12,12.2065 12,10.0005 C12,7.7945 10.206,6.0005 8,6.0005 C5.794,6.0005 4,7.7945 4,10.0005 C4,12.2065 5.794,14.0005 8,14.0005" id="alt-color" fill="#89532F"></path>
                        <path d="M8,15.0005 C3.29,15.0005 0,17.4675 0,21.0005 L0,22.0005 L16,22.0005 L16,21.0005 C16,17.4675 12.71,15.0005 8,15.0005" id="alt-color" fill="#89532F"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
