<?xml version="1.0" encoding="UTF-8"?>
<svg width="17px" height="22px" viewBox="0 0 17 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>jobs-svg</title>
    <g id="Main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="sloth/transaction-detail" transform="translate(-319.000000, -122.000000)">
            <g id="nav" transform="translate(0.000000, 109.000000)">
                <g id="nav-item" transform="translate(319.000000, 8.000000)">
                    <g id="jobs-svg" transform="translate(0.000000, 5.001900)">
                        <path d="M16,6.9996 L11,6.9996 L11,8.9996 L15,8.9996 L15,17.9996 L13,17.9996 L13,19.9996 L2,19.9996 L2,8.9996 L5,8.9996 L5,6.9996 L1,6.9996 C0.448,6.9996 0,7.4476 0,7.9996 L0,20.9996 C0,21.5516 0.448,21.9996 1,21.9996 L14,21.9996 C14.265,21.9996 14.52,21.8946 14.707,21.7066 L16.707,19.7066 C16.895,19.5196 17,19.2646 17,18.9996 L17,7.9996 C17,7.4476 16.552,6.9996 16,6.9996" id="alt-color" fill="#575757"></path>
                        <polygon id="primary-color" fill="#00544C" points="13 10.9991 4 10.9991 4 12.9991 13 12.9991"></polygon>
                        <polygon id="primary-color" fill="#00544C" points="4 16.9991 13 16.9991 13 14.9991 4 14.9991"></polygon>
                        <path d="M7,5.815 L7,9 C7,9.552 7.447,10 8,10 C8.553,10 9,9.552 9,9 L9,5.815 C10.163,5.402 11.001,4.304 11,2.999 C11,1.341 9.657,0 8,0 C6.343,0 5.001,1.341 5.001,2.999 C5,4.304 5.838,5.402 7,5.815" id="primary-color" fill="#00544C"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>