@using Microsoft.AspNetCore.Identity
@using Sloth.Core.Models;

@inject UserManager<User> UserManager

@{
  var user = await UserManager.GetUserAsync(User);
}

@if (User.Identity.IsAuthenticated && user != null)
{
    <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
      <div class="nav-login">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img class="profile-pic" src="https://www.gravatar.com/avatar/@(user.EmailHash)?s=40" alt="profile pic" />
          @user.FullName
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="@Url.Action("Manage", "Users")">
            <i class="fa fa-fw fa-user"></i>
            Manage
          </a>
          <button type="submit" class="dropdown-item">
            <i class="fa fa-fw fa-sign-out"></i>
            Log out
          </button>
        </div>
      </div>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
}
