@using Microsoft.AspNetCore.Identity
@using Sloth.Core.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{

  <style>
    .nav-login {
      position: relative;
    }
  </style>
  <form class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
    <div class="nav-login">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="@Url.Action("Manage", "Users")">Manage</a>
          <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
      </div>
    </div>
  </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
}
