<?xml version="1.0" encoding="UTF-8"?>
<svg width="17px" height="22px" viewBox="0 0 17 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>jobs-svg</title>
    <g id="Main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="sloth/report-detail" transform="translate(-319.000000, -122.000000)">
            <g id="nav" transform="translate(0.000000, 109.000000)">
                <g id="nav-item" transform="translate(319.000000, 8.000000)">
                    <g id="joreportsbs-svg" transform="translate(0.000000, 5.001900)">
                        <path d="M 16 4 L 13 4 L 13 6 L 15 6 L 15 18 L 13 18 L 13 20 L 2 20 L 2 6 L 4 6 L 4 4 L 1 4 C 0.448 4 0 4.4476 0 5 L 0 21 C 0 21.5516 0.448 22 1 22 L 14 22 C 14.265 22 14.52 22 14.707 22 L 16.707 19.7066 C 16.895 19.5196 17 19.2646 17 19 L 17 5 C 17 4.4476 16.552 4 16 4" id="alt-color" fill="#575757"></path>
                        <polygon id="primary-color" fill="#00544C" points="12 2.75 5 2.75 5 6.75 12 6.75"></polygon>
                        <polygon id="primary-color" fill="#00544C" points="13 7.9991 4 7.9991 4 9.9991 13 9.9991"></polygon>
                        <polygon id="primary-color" fill="#00544C" points="13 11.9991 4 11.9991 4 13.9991 13 13.9991"></polygon>
                        <polygon id="primary-color" fill="#00544C" points="4 17.9991 13 17.9991 13 15.9991 4 15.9991"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
