<?xml version="1.0" encoding="UTF-8"?>
<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>scrubbers-icon</title>
    <g id="Main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="sloth/transaction-detail" transform="translate(-414.000000, -126.000000)">
            <g id="nav" transform="translate(0.000000, 109.000000)">
                <g id="nav-item" transform="translate(414.000000, 8.000000)">
                    <g id="scrubbers-icon" transform="translate(0.000000, 9.000000)">
                        <path d="M17.1818182,7.36363636 L15.5454545,7.36363636 C15.0954545,7.36363636 14.7272727,7.73263636 14.7272727,8.18181818 L14.7272727,9.81818182 C14.7272727,10.2681818 15.0954545,10.6363636 15.5454545,10.6363636 L17.1818182,10.6363636 C17.6318182,10.6363636 18,10.2681818 18,9.81818182 L18,8.18181818 C18,7.73263636 17.6318182,7.36363636 17.1818182,7.36363636" id="alt-color" fill="#575757"></path>
                        <path d="M3.27272727,9.81818182 L3.27272727,8.18181818 C3.27272727,7.73263636 2.90454545,7.36363636 2.45454545,7.36363636 L0.818181818,7.36363636 C0.368181818,7.36363636 0,7.73263636 0,8.18181818 L0,9.81818182 C0,10.2681818 0.368181818,10.6363636 0.818181818,10.6363636 L2.45454545,10.6363636 C2.90454545,10.6363636 3.27272727,10.2681818 3.27272727,9.81818182" id="alt-color" fill="#575757"></path>
                        <path d="M9.81818182,0 L8.18181818,0 C7.73181818,0 7.36363636,0.369 7.36363636,0.818181818 L7.36363636,2.45454545 C7.36363636,2.90454545 7.73181818,3.27272727 8.18181818,3.27272727 L9.81818182,3.27272727 C10.2681818,3.27272727 10.6363636,2.90454545 10.6363636,2.45454545 L10.6363636,0.818181818 C10.6363636,0.369 10.2681818,0 9.81818182,0" id="alt-color" fill="#575757"></path>
                        <path d="M9.81818182,14.7272727 L8.18181818,14.7272727 C7.73181818,14.7272727 7.36363636,15.0962727 7.36363636,15.5454545 L7.36363636,17.1818182 C7.36363636,17.6318182 7.73181818,18 8.18181818,18 L9.81818182,18 C10.2681818,18 10.6363636,17.6318182 10.6363636,17.1818182 L10.6363636,15.5454545 C10.6363636,15.0962727 10.2681818,14.7272727 9.81818182,14.7272727" id="alt-color" fill="#575757"></path>
                        <path d="M14.6597727,5.72727273 L16.4941364,5.72727273 C15.6685909,3.84463636 14.1557727,2.33181818 12.2723182,1.50627273 L12.2723182,3.34063636 C13.2623182,3.91418182 14.0854091,4.73809091 14.6597727,5.72727273" id="alt-color" fill="#575757"></path>
                        <path d="M1.50610909,5.72727273 L3.34047273,5.72727273 C3.91401818,4.73809091 4.73792727,3.91418182 5.72710909,3.34063636 L5.72710909,1.50627273 C3.84447273,2.33181818 2.33165455,3.84463636 1.50610909,5.72727273" id="alt-color" fill="#575757"></path>
                        <path d="M9,6.54545455 C7.64672727,6.54545455 6.54545455,7.64672727 6.54545455,9 C6.54545455,10.3532727 7.64672727,11.4545455 9,11.4545455 C10.3532727,11.4545455 11.4545455,10.3532727 11.4545455,9 C11.4545455,7.64672727 10.3532727,6.54545455 9,6.54545455" id="primary-color" fill="#00544C"></path>
                        <path d="M12.2727273,14.6597727 L12.2727273,16.4941364 C14.1553636,15.6685909 15.6681818,14.1549545 16.4937273,12.2731364 L14.6601818,12.2731364 C14.0858182,13.2623182 13.2619091,14.0862273 12.2727273,14.6597727" id="alt-color" fill="#575757"></path>
                        <path d="M3.34022727,12.2727273 L1.50586364,12.2727273 C2.33140909,14.1553636 3.84422727,15.6681818 5.72768182,16.4937273 L5.72768182,14.6593636 C4.73768182,14.0858182 3.91459091,13.2619091 3.34022727,12.2727273" id="alt-color" fill="#575757"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>