@model Sloth.Web.Models.WebHookViewModels.EditWebHookViewModel

@{
    ViewBag.Title = "Edit WebHook";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="form-group">
            <label asp-for="Url"></label>
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url"></span>
        </div>
        <div class="form-check">
            <input asp-for="IsActive" type="checkbox" class="form-check-input" id="exampleCheck1"
    checked="@ViewBag.IsActive">
            <label asp-for="IsActive" class="form-check-label" for="exampleCheck1">Active</label>
        </div>
        <div class="d-flex justify-content-end align-items-end">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
</div>
