@using Sloth.Core.Models
@model IEnumerable<Source>

@{
    ViewBag.Title = "Sources";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <partial name="_SourcesTable" model="Model" />
</div>

@section AdditionalScripts
{
    <script>
        // setup tables
        var sourcesTable = $('#sourcesTable').DataTable({});
    </script>
}
