@using Sloth.Core.Models
@model IEnumerable<Source>

@{
    ViewBag.Title = "Sources";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_SourcesTable", Model)

@section AdditionalScripts
{
    <script>
        // setup tables
        var sourcesTable = $('#sourcesTable').DataTable({});
    </script>
}
