@using Sloth.Core.Extensions;
@model Sloth.Core.Models.Scrubber;

@{
    ViewBag.Title = "Scrubber Details";
}

@section AdditionalStyles {
    <link rel="stylesheet" href="~/lib/datatables.bootstrap4.css" />
    <link href="~/css/prism.css" rel="stylesheet" />

    <style>
        pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
            color: black;
            font-size: 16px;
            background-color: white;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_TransactionsTable", Model.Transactions)

<pre><code class="language-markup">
@Model.ToXml()
    </code>
</pre>

@section AdditionalScripts {
    <script src="~/lib/jquery.datatables.js"></script>
    <script src="~/lib/datatables.bootstrap4.js"></script>
    <script src="~/js/prism.js"></script>
    <script>
        $('#transactions').dataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                }
            ]
        });    </script>
}
