@using  Sloth.Core.Views.Shared
@model Sloth.Core.Views.Shared.EmailInnerDetailsModel

<mj-text padding-top="0px" padding-left="0px" padding-bottom="5px">
    <p><b>@Model.Heading</b></p>
    <p>@Model.Text</p>
</mj-text>
